<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion - Cook-EZ</title>
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <div class="container">
    <div class="svg-side">
        <div class="svg-container">
          <svg viewBox="0 0 1044 1080" fill="none" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMinYMin slice" class="svg-mask">
            <defs>
              <clipPath id="video-shape">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M485.727 -54.1589C609.204 -30.9496 754.696 -18.7059 842.734 63.3081C931.763 146.246 899.138 261.787 933.08 362.585C962.845 450.976 1019.01 534.931 1031.37 623.498C1044.92 720.537 1056.99 822.526 1008.52 902.977C959.239 984.794 858.326 1033.08 759.156 1075.4C660.157 1117.65 549.249 1140.38 431.717 1149.14C307.208 1158.43 176.694 1171.73 51.4349 1128.17C-74.3489 1084.43 -161.65 985.612 -264.039 907.174C-371.668 824.722 -518.124 760.251 -569.88 652.195C-621.664 544.081 -559.365 440.121 -537.604 336.027C-517.721 240.918 -520.976 133.221 -446.949 64.155C-374.15 -3.76493 -247.493 -15.7635 -135.498 -39.1296C-38.6674 -59.332 62.7533 -61.3072 166.417 -63.8151C272.93 -66.392 376.95 -74.605 485.727 -54.1589Z" />
              </clipPath>
            </defs>
            <foreignObject x="0" y="0" width="1044" height="1080" clip-path="url(#video-shape)">
              <video autoplay loop muted playsinline width="1044" height="1080" style="object-fit:cover;width:100%;height:100%;">
                <source src="/video.mov" type="video/mp4" />
                Votre navigateur ne supporte pas la vidéo.
              </video>
            </foreignObject>
          </svg>
        </div>
      </div>
      
    <div class="form-side">
      <div class="branding">
        <h1>Cook-EZ</h1>
        <p>Recettes personnalisées et suivi intelligent par IA</p>
      </div>
      <div class="auth-card">
        <h2>Connexion</h2>
        <form method="POST" action="/auth/login">
          <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" name="email" required autocomplete="email">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required autocomplete="current-password">
          </div>
          <button class="btn" type="submit">Se connecter</button>
        </form>
        <div class="oauth-buttons">
            <form action="/auth/google" method="get">
                <button class="oauth-btn oauth-google" type="submit">
                  <span class="oauth-icon">
                    <img src="/images/icons/google.svg" alt="Google">
                  </span>
                  <span class="oauth-label">Continuer avec Google</span>
                </button>
              </form>              
            <form action="/auth/facebook" method="get">
              <button class="oauth-btn oauth-facebook" type="submit">
                <span class="oauth-icon">
                  <img src="/images/icons/facebook.svg" alt="Facebook">
                </span>
                <span class="oauth-label">Continuer avec Facebook</span>
              </button>
            </form>
            <form action="/auth/twitter" method="get">
              <button class="oauth-btn oauth-twitter" type="submit">
                <span class="oauth-icon">
                  <img src="/images/icons/twitter.svg" alt="Twitter">
                </span>
                <span class="oauth-label">Continuer avec Twitter</span>
              </button>
            </form>
          </div>
          
        <div class="switch-auth">
          Pas encore inscrit ? <a href="/auth/register">Créer un compte</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
